

.a{
    display: flex;
    flex:1;
    padding-top:1%;
    align-items: center;
    justify-content: end;
    padding-right:3%;
    
}

.b{
    
    display: flex;
    flex:1;
    flex-direction: column;
    
    
}
.c{
    display:flex;
    flex-direction: row;
}

.r{
    height:300px;
    width: 400px;
    

}
.d{
    
    display: flex;
    justify-content:space-between;
    font-size:19px;
}
#q{
color:brown;
}